git config --global core.excludesfile ~/.gitignoregit config --global core.excludesfile ~/.gitignoregit config --global core.excludesfile ~/.gitignore
server_configs.json
.env
.venv
server_configs.json
