#git config --global core.excludesfile ~/.gitignoregit config --global core.excludesfile ~/.gitignoregit config --global core.excludesfile ~/.gitignore
.env
.venv
utils/server_configs.json
__pycache__